<div class="cart box_1">
    <a href="/Admin/DangNhap">

        <img src="/images/login.png" alt="" />
    </a>
    <p><a href="/Admin/DangNhap" class="simpleCart_empty">Đăng nhập</a></p>
    <div class="clearfix"> </div>
</div>
<div class="cart box_1">
    <a href="/GioHang/Index">
        <img src="/images/online-shopping-cart.png" alt="" />
    </a>
    <p>
        <a href="/GioHang/Index" class="simpleCart_empty">Giỏ hàng</a>
    </p>
    <div class="clearfix"> </div>
</div>
