<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        @*Cần đổi ảnh*@
        <ul class="rslides" id="slider4">
            <li>
                <img src="~/images/bnr-1.jpg" alt="" />
            </li>
            <li>
                <img src="~/images/bnr-2.jpg" alt="" />
            </li>
            <li>
                <img src="~/images/bnr-3.jpg" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
