@using WebBanXeOnline.Models
@{
    WebBanXeOnlineEntities shop = new WebBanXeOnlineEntities();

    var tintuc = shop.TinTuc.ToList().Skip(0).Take(10);
}

<div class="widget">
    <h3>Tin mới nhất</h3>
    <div class="widget-article-list">

        @foreach (var item in tintuc)
        {
            <div class="item">
                <div class="item-header">

                    <a href="/Home/ChiTietTinTuc/@item.MaTin"><img src="@item.Anh" alt="" style="width: 50px;height: 50px"></a>
                </div>
                <div class="item-content">
                    <h4><a href="/Home/ChiTietTinTuc/@item.MaTin">@item.TieuDe</a></h4>
                    <span class="item-meta">
                        <a href="#"><i class="fa fa-comment-o"></i>@item.NgayDang</a>
                        <a href="#"><i class="fa fa-clock-o"></i>@shop.TaiKhoan.SingleOrDefault(t => t.MaTaiKhoan == item.MaTaiKhoan).TaiKhoanDN</a>
                    </span>
                </div>
            </div>

        }


        <a href="/Home/TinTuc" class="button-read-more">Xem thêm</a>

    </div>
</div>
