
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding: 6em 0px;">
    <div class="content-panel-title">

        <h2>Đã đặt đơn hàng</h2>
    </div>
</div>

